.DS_Store
build.log
build
npm-debug.log
tmp
.map
Resources
Resources/
Resources/*
.DS_Store
*.pyc
tmp
.idea/
build/
build.log
.settings/com.aptana.editor.common.prefs
.settings/com.appcelerator.titanium.mobile.prefs
.settings/com.appcelerator.titanium.core.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
